<section class="cart py-16">
    <div class="order container mx-auto w-1/2">
        <div class="flex items-center border-b border-gray-300">
           <img src="/img/cart-black.png" alt="" class="w-1/12">
           <h1 class="text-2xl font-bold ml-4">Order Summary</h1>
        </div>

        <div class="order-list">
            <div class="flex items-center my-8">
                <img src="/img/pz.png" alt="" class="w-24">
                <div class="ml-4 flex-1">
                    <h1>Margherita</h1>
                    <span>SMALL</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">₹250</span>
            </div>

        </div>
        <div class="order-list">
            <div class="flex items-center my-8">
                <img src="/img/pz.png" alt="" class="w-24">
                <div class="ml-4 flex-1">
                    <h1>Margherita</h1>
                    <span>SMALL</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">₹250</span>
            </div>

        </div>
        <div class="order-list">
            <div class="flex items-center my-8">
                <img src="/img/pz.png" alt="" class="w-24">
                <div class="ml-4 flex-1">
                    <h1>Margherita</h1>
                    <span>SMALL</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">₹250</span>
            </div>

        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">Total amount:</span>
                <span class="amount text-xl ml-2 font-bold">₹250</span>
            </div>
            <div>
                <form action="" class="mt-12">
                    <input class="border border-gray-400 p-2 w-1/2 mb-4" type="text" 
                    placeholder="phone number">
                    <input class="border border-gray-400 p-2 w-1/2" type="text" 
                    placeholder="Address">
                    <!-- <div>
                    <button class="btn-primary py-2 px-6 rounded-full text-white font-bold mt-6" type="submit">Confirm Order</button>
                </div> -->
                </form>
            </div>
            <a href="/login" class="inline-block cursor-pointer px-6 btn-primary py-2 px-6 rounded-full text-white font-bold mt-6">Login to continue</a>
        </div>

    </div>
<!-- <div class="empty-cart py-12">
   <div class="container mx-auto text-center">

     <h1 class="text-3xl font-bold mb-2">Your cart is empty!</h1>
     <img src="/img/empty-cart.png" alt="empty cart" class="mx-auto mb-6">
     <p class="text-gray-500 text-lg">Please add some items from the menu</p>
     <a href="/" class="inline-block px-6 py-2 text-white font-bold btn-primary rounded-full mt-6">Add items</a>

    </div>
</div> -->
</section>